<h1>Channels</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Server</th>
    <th>Join</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @channels.each do |channel| %>
    <tr>
      <td><%= channel.name %></td>
      <td><%= channel.server.host %></td>
      <td><%= channel.active %></td>
      <td><%= link_to 'Show', channel %></td>
      <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
      <td><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Channel', new_channel_path %>
