<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Server:</strong>
  <%= @channel.server.host %>
</p>

<p>
  <strong>Join:</strong>
  <%= @channel.active %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
