<% content_for :title do %>
  <%= "#{@message.text} by #{@message.user} on #{@message.channel.name}: Baku" %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="well well-lg">
  <p>
    <span class="glyphicon glyphicon-user"></span> <%= @message.user %>
    <%= @message.channel.name %>
  </p>

  <p class="lead">
    <%= @message.text %>
  </p>

  <p class="text-right">
    <span class="glyphicon glyphicon-list"></span>
    <span>
      <%= link_to 'Look at this surroundings', @message.surrounding_log_link_param %>
    </span>
    <span class="glyphicon glyphicon-time"></span>
    <%= @message.created_at.to_s(:irc_detail) %>
  </p>
</div>