<% content_for :title do %>
  <%= "Baku Search - #{@q}" %>
<% end %>

<% if @messages.nil? %>
  <div class="jumbotron">
    <div class="container">
      <h1>Share all knowledge, devour it.</h1>
      <%= form_tag('/search', :method => :get) do %>
        <div class="form-group col-sm-10">
          <label class="sr-only" for="q">Name contains</label>
          <input class="form-control" id="q" name="q" placeholder="What are you looking for?" type="text" />
        </div>
        <button type="submit" class="btn btn-primary col-sm-2">Search</button>
      <% end %>
    </div>
  </div>
<% else %>
  <%= form_tag('/search', :method => :get) do %>
    <div class="form-group col-sm-10">
      <label class="sr-only" for="q">Name contains</label>
      <input class="form-control" id="q" name="q" placeholder="What are you looking for?" type="text" value="<%= @q %>" />
    </div>
    <button type="submit" class="btn btn-primary col-sm-2">Search</button>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Channel</th>
        <th>User</th>
        <th>Text</th>
      </tr>
    </thead>

    <tbody>
      <% @messages.each do |message| %>
        <tr id="<%= message.id %>">
          <td style="width: 200px"><%= link_to message.created_at.to_s(:irc_search), message %></td>
          <td><%= message.channel.name %></td>
          <td><%= message.user %></td>
          <%= render partial: 'messages/message', locals: {message: message} %>
        </tr>
      <% end %>
      <% if @messages.empty? %>
      <tr>
        <td colspan="4">
          <p class="text-warning">No Results Found</p>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @messages %>
<% end %>
