// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.channel {
  background-color: #445588;
  color: #ffffff;
  margin: 5px;
  line-height: 3em;
  text-align: center;

  a {
    color: #ffffff;
  }

  a:visited {
    color: #DDDDCC;
  }
}