<h1>Daily Logs</h1>
  <div id="log">
    <div id="channel">
      Channel
      <ul>
        <% @channels.each do |channel| %>
          <li class="<%= 'active' if @channel == channel %>">
            <%= link_to channel.name, {:controller => "logs", :action => "index", :id => channel.name_without_sign} %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="year">
      Y
      <ul>
        <% @channel.years.each do |year| %>
          <li class="<%= 'active' if @year == year.to_s %>">
            <%= link_to year, {:controller => "logs", :action => "index", :id => @channel.name_without_sign, :year => year} %>
          </li>
        <% end if @channel.present? %>
      </ul>
    </div>
    <div id="month">
      M
      <ul>
        <% @channel.months(@year).each do |month| %>
          <li class="<%= 'active' if @month == month.to_s %>">
            <%= link_to month, {:controller => "logs", :action => "index", :id => @channel.name_without_sign, :year => @year, :month => month} %>
          </li>
        <% end if @year.present? %>
      </ul>
    </div>
    <div id="day">
      D
      <ul>
        <% @channel.days(@year, @month).each do |day| %>
          <li class="<%= 'active' if @day == day.to_s %>">
            <%= link_to day, {:controller => "logs", :action => "index", :id => @channel.name_without_sign, :year => @year, :month => @month, :day => day} %>
          </li>
        <% end if @month.present? %>
      </ul>
    </div>
    <div id="message">
      <table class="table">
        <thead>
        <tr>
          <th>Time</th>
          <th>User</th>
          <th>Text</th>
        </tr>
        </thead>

        <tbody>
        <% @messages.each do |message| %>
          <tr id="<%= message.id %>">
            <td style="width: 60px"><%= link_to message.created_at.to_s(:irc_time), message %></td>
            <td><%= message.user %></td>
            <%= render partial: 'messages/message', locals: {message: message} %>
          </tr>
        <% end if @messages.present? %>
        </tbody>
      </table>
    </div>
  </div>
